<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" href="static/Images/apple-touch-icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <title>Profile</title>
  </head>
  <body>
    <img class="top-cloud" src="static/Images/cloud.png" alt="cloud">     

    <div>
        <h1>Iam Ahmed Atya.</h1>
        <h3>DevOps Engineer</h3>
    </div>

    <img class="bottom-cloud" src="static/Images/cloud.png" alt="cloud">      
    <img src="static/Images/mountain.png" alt="cddloud">    


    <div class="middle-container">

        <div class="profile">
          <img  class="myimg" src="static/Images/my_img.png" alt="">
          <h2>Hello.</h2>
          <p class="intro">I am a passionate DevOps Engineer who is  trying to develop my skills on HTML and CSS</p>
        </div>

        <hr>

        <div class="skills">
          <h2>My Skills.</h2>

          <div class="skill-row">
            <img class="Images-devops" src="static/Images/devops-logo.png  " alt="">
            <h2>DevOps</h2>
            <p>Three years ago I started my path at DevOps,I have learned many tools like Kubernetes, Jenkins and Docker..etc along with projects to sharpen my knowledge them to be ready for the market</p>
          </div>

          <div class="skill-row">
            <img class="Images-python" src="static/Images/python-logo.png" alt="">
            <h2>Python</h2>
            <p>I am learning python to sharpen my skills in development and enhance my coding skills</p>
          </div>

        </div>
        <hr>

        <div class="contact-me">
          <h2>Get In Touch</h2>
          <p>If you are interested contact me</p>
          <a class="btn" href="mailto:ahmedatya1288@gmail.com">CONTACT ME</a>
        </div>

    </div>
      
      
    <div class="bottom-container">
      <a class="footer-link" href="https://www.linkedin.com/in/ahmed-atya-50b791176/">LinkedIn</a>
      <a class="footer-link" href="https://twitter.com/Ahmedatya_1999">Twitter</a>
      <a class="footer-link" href="https://github.com/AhmedAtya11">GitHub</a>
    </div>
        

  </body>
</html>